@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


*{
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
}
a { 
	text-decoration: none; 
}

.logged-as-text{
  margin-right: 20px;
}

.navbar {
    background-color: #f8f9fa; /* Cambia il colore di sfondo */
    padding: 10px; /* Aggiungi spaziatura interna */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiungi ombra */
  }

.navbar-brand{
    font-size: 30px;
}

.elenco{
    margin: 0;
    padding: 0;
    margin-right: auto;
    
}




.film-op, .artists-op{
    text-align: center;
    padding-top: 1em;
}


.film-op a, .artists-op a{
    color: black;
}

.film-op a:hover, .artists-op a:hover{
    color: blue;
}

/*------ indexMovie.html --------- */

.text-film-manger{
    text-align: center;
    padding-top: 1em;
}

/*---------- indexAdmin.html ---------*/

.container-admin-panel {
  text-align: left;
  padding-left: 20px;
  margin-top: 50px;
}

.text-admin-panel {
  font-size: 70px;
  color: #333;
}

.dropdown-container {
  text-align: center;
  margin-top: 2em;
  padding-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  padding-left: 5px;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}



/* ----------- Operazione sui film drop-down menu -----------*/

.dropdown-container {
    display: flex;
    text-align: center;

  }


  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 8px 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ccc;
  }
  
  

  /* --- forNewMovie.html ----*/

  
  .container-film {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
  }
  
  .form-film {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group-film {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group-film label {
    text-align: left;
  }
  
  .form-group-film input[type="text"],
  .form-group-film input[type="file"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group-film button {
    margin-top: 20px;
  }
  








  
  /*---- manageMovies.html -------- */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    flex-direction: column;
  }
  
  .heading {
    text-align: center;
  }
  
  .movie-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .movie-list li {
    margin-bottom: 10px;
    padding-top: 10px;
  }
  

  /*-------------------  formUpdateMovie.html -------------------*/

/*-- Elimina film --*/



.delete-film-text{
  padding: 0;
  margin-top: 1em;
}

.delete-film-btn{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 300px;
}

/*-------------*/

.container {
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 1em;
flex-direction: column;
}

.heading {
text-align: center;
margin-bottom: 20px;
}

.movie-details {
text-align: center;
}

.movie-title {
font-weight: bold;
}

.movie-year {
font-style: italic;
}

.director-info {
margin-top: 10px;
padding: 0;
margin: 0;
}

.update-director-link,
.add-director-link {
display: block;
margin-top: 5px;
padding: 5px 10px;
border-radius: 5px;
color: black;


}
.modify-actors{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-director-box {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.actors {
margin-top: 20px;

}


.no-movie {
font-style: italic;
}


/*----------------------- directorsToAdd.html ---------------------------*/


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.artists-list {
  text-align: center;
}

.artists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.artists li {
  margin-bottom: 10px;
  list-style-type: none;
}

.artists a {
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.artists a:hover {
  color: blue;
}




/*--------------- actorsToAdd.html --------------------*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.actors-list {
  text-align: center;
}

.actors {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.actors li {
  margin-bottom: 20px;
}

.actors a {
  text-decoration: none;
  color: black;
}

.actors a:hover {
  color: blue;
}

.actors-to-add {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.actors-to-add li {
  margin-bottom: 10px;
}

.actors-to-add a {
  text-decoration: none;
  color: black;
}

.actors-to-add a:hover {
  color: blue;
}

button {
  margin-top: 20px;
}



/*------------------ formNewArtist.html ---------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding-top: 2em;
}

.artist-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field label {
  text-align: left;
}

.form-field input[type="text"],
.form-field input[type="date"],
.form-field input[type="file"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  /* ... altre regole CSS ... */
  margin-top: 20px;
}




button:hover {
  background-color: #45a049;
}




button:hover {
  background-color: #45a049;
}



/* ======== movie.html ==========*/

