/* Import delle fonti esterne */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Stili di base */
* {
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}


/* ===========================================================*/
/*  ================= Stili navbar  =======================  */
/* ==========================================================*/

.logged-as-text{
  margin-right: 20px;
}

.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 30px;
}

.elenco {
  margin: 0;
  padding: 0;
  margin-right: auto;
}

/* ==========================================================================*/
/*  ===================  Stili per i contenitori principali ================ */
/* ==========================================================================*/


.container {
  text-align: center;
  padding-top: 2em;
}

p {
  margin-top: 4em;
}

.container-logged-in {
  text-align: center;
  padding-top: 10em;
}

.container-logged-in p {
  font-size: 20px;
}

/* =========================================================================*/
/* ============ Stili per i form di registrazione e accesso  ==============*/
/* ========================================================================*/


#password,
#username,
#cognome,
#email,
#nome {
  text-align: center;
}

.register-user-container {
  padding: 0;
  margin: 0;
}

.register-container {
  padding: 4em;
  margin: 0;
}

.login-user-text {
  padding: 0;
  margin: 0;
}

.login-container {
  padding: 2em;
  margin: 0em;
}

.login-user-container {
  padding: 0;
  margin: 0;
}

.pass-error {
  color: red;
}

.btn {
  margin-top: 1em;
}


/*==============  Stili per la ricerca dei film ======================= */


#anno {
  text-align: center;
}


/* =========================================================================*/
/* ======================= Stili per la lista dei film ==================== */
/* =========================================================================*/


.text-film {
  text-align: center;
  padding-top: 1em;
}

.movie-list {
  text-align: center;
  padding-top: 1em;
}

ul.movie-list {
  list-style-type: none;
}

.movie-list a {
  color: black;
}

.movie-list li {
  padding: 10px;
}

.movie-list a:hover {
  color: blue;
}

/* ===================================================================*/
/* =============== Stili per la lista degli artisti  ================*/
/* ==================================================================*/

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}




.text-artists {
  text-align: center;
  padding-top: 1em;
}

.artists-list {
  text-align: center;
  padding-top: 1em;
}

ul.artists-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.artists-list li {
  padding: 10px;
}

.artists-list a {
  color: black;
}

.artists-list a:hover {
  color: blue;
}



/* ===========================================================================*/
/* =========== Stili per la pagina dei risultati della ricerca ============== */
/* ===========================================================================*/


.movie-title {
  text-decoration: none;
  color: black;
  text-align: center;
}

.movie-title a {
  color: black;
}

.movie-title a:hover {
  color: blue;
}

.movie-column {
  align-items: center;
  padding: 0;
  margin: 0;
  padding-top: 1em;
}

.search-results {
  text-align: center;
  padding-top: 1em;
  margin: 0;
}

ul.movie-title {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*  ========================================================*/
/*  ======== Stili per la pagina degli artisti  ============*/
/*  ========================================================*/

.artist-details {
  margin-bottom: 20px;
}

.artist-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.birth-date {
  font-weight: bold;
}

.image-box {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}

.artist-image {
  width: 100%;
  height: auto;
}

/*  =================================================================*/
/* ==========  Stili per la sezione dei film  ====================== */
/*  =================================================================*/


.image-box {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}



/*  =========================================================*/
/* ================ Stili per le recensioni  =============== */
/*  =========================================================*/

.delete-comment {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-size: 15px;
}

.reviews-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.comment-list li {
  background-color: #d0d0d0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.comment-list li p {
  margin: 0;
}

.film-section {
  display: grid;
  grid-template-columns: 600px 50px 600px;
  gap: 10px;
}

.film-details {
  grid-column: 1 / 3;
  padding-top: 2em;
}

.review-section {
  grid-column: 1 / 3;
  height: 200px;
  padding-top: 2em;
}

.comment-section {
  grid-column: 3 / 3;
  grid-template-columns: 500px;
  padding-top: 2em;
}

.btn-send-review {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comment-placeholder form {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-placeholder input[type="text"]{
  padding: 5px 15px;
  margin-right: 0px;
  width: 100%;
  display: inline-block;
}
.comment-placeholder input[type="number"],
.comment-placeholder button {
    display: inline-block;
    vertical-align: middle;
}

.comment-placeholder button {
  width: auto;
}

.comment-placeholder button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.comment-placeholder input[name="comment"] {
  width: 100%;
}

.comment-placeholder input[name="rating"] {
  width: 150px;
}


.rating {
  float: right;
}

.delete-link {
  position: absolute;
  top: 0;
  right: 10px;
  color: red;
  text-decoration: none;
}



/* Media query per la responsività */
@media (max-width: 768px) {
  .container {
    padding-top: 5em;
  }

  .register-container,
  .login-container {
    padding: 2em;
  }

  .film-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .film-details,
  .comment-section {
    flex-basis: 100%;
  }
}
