/* Stili di base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Stili per la navigazione */
  .navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  /* Stili per la sezione dei film */
  .film-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .film-details {
    flex: 1 1 300px;
  }
  
  .film-details-text {
    font-size: 24px;
    margin-top: 0;
  }
  
  .image-box img {
    max-width: 100%;
    height: auto;
  }
  
  .comment-section {
    flex: 1 1 300px;
  }
  
  .reviews-text {
    font-size: 18px;
    margin-top: 0;
  }
  
  .comment-list li {
    margin-bottom: 10px;
  }
  
  /* Stili per la sezione delle recensioni */
  .review-section {
    margin-top: 20px;
  }
  
  .comment-placeholder {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-send-review {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Media query per la responsività */
  @media (max-width: 768px) {
    .film-section {
      flex-direction: column;
    }
  
    .film-details,
    .comment-section {
      flex-basis: 100%;
    }
  
    .film-details {
      margin-bottom: 20px;
    }
  
    .comment-list li {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .comment-placeholder {
      gap: 20px;
    }
  }