
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


*{
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
}
a { 
	text-decoration: none; 
}



.navbar {
    background-color: #f8f9fa; /* Cambia il colore di sfondo */
    padding: 10px; /* Aggiungi spaziatura interna */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiungi ombra */
  }

.navbar-brand{
    font-size: 30px;
}

.elenco{
    margin: 0;
    padding: 0;
    margin-right: auto;
    
}

.container{
    text-align: center;
    padding-top: 10em;
}
p{
    margin-top: 4em;
}


/* ----------- REGISTRATION FORM -----------*/

#password,#username,#cognome,#email,#nome{
    text-align: center;
}